@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;800&display=swap');
:root{
    --orange: #ee6817;
    --light_gray: #d7dcdf;
    --gray: #abb3bb;
    --very_dark_blue: #172745;
}

body {
    margin: 0px;
    padding: 0px 150px 0px 150px;
}

header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button{
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;  
    text-transform: uppercase;
    color: var(--very_dark_blue);
    text-decoration: none;

    background-color: var(--light_gray);
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--very_dark_blue);
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}

h2 {
    text-transform: uppercase;
    color: var(--very_dark_blue);
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}

p {
    color: var(--gray);
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

#master_card {
    display: flex;
    margin: 70px 0px 25px 0px;
    gap: 70px;
}

#master_card div  {
    align-items: center;
}

#master_card div h1{
   font-size: 50px;
   margin: 50px 0px 20px 0px; 
}

#master_card div h2{
    color: var(--gray);
    font-size: 15px; 
}

#master_card div p{
    color: var(--gray);
    font-size: 15px;
    margin-bottom: 40px;
}

#buy_button_div {
    display: flex;
    gap: 25px;
    align-items: center;
    
    
}

#buy_button_div .button {
    background-color: var(--orange);
    padding: 15px 25px 15px 25px;
    color: white;
}

#keyboard_img {
    height: 400px;
    border-radius: 20px;
}


#wireless_card {
    display: flex;
    gap: 25px;
    margin-bottom: 150px;
}

#wireless_cardtext {
    padding: 60px 80px 60px 80px;
}

#phone_img {
    height: 400px;
    border-radius: 20px;
    z-index: 0;

}

#filter {
    display: flex;
    border-radius: 20px;
    height: 400px;
}

#filter div{
    background-color: #9c450e;
    height: 400px;
    width: 214px;
    z-index: 1;
    border-radius: 20px;
    position: absolute;
    opacity: 60%;
}

#glass_img {
    height: 400px;
    border-radius: 20px;
    
}

.square {
    position: absolute;
    right: -125px;
}

#wireless_card .square {
    left: -125px;
    bottom: -344px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

ul li div {
    border-radius: 10px;
    display: flex;
    background-color: var(--orange);
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}

ul li img{
    height: 25px
}

#credits {
    display: flex;
    justify-content: center;
    gap: 5px;

    margin-top: 100px;
}

